.btn {
    border: 0;
    box-sizing: border-box;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
    width: 250px;
    height: 50px;
    text-align:center;
    background-color: lightblue;
}

.btn:last-of-type {
    margin-bottom: 0;
}

.btn:hover{
    opacity: .8;
}