@import url(./__logo/acc-info__logo.css);
@import url(./__name/acc-info__name.css);
.acc-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    box-sizing: border-box;
    padding: 10px;
}