@import url(./__title/card__title.css);
@import url(./__name/card__name.css);
@import url(./__dept/card__dept.css);
@import url(./__date/card__date.css);

.card{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    max-width: 250px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

